<Settings>
	<PackFolder src="Z:\scratch\bin\patch_mod\" />
	<PackFolder src="Z:\scratch\bin\dlc_solo\" />
	<PackFolder src="Z:\scratch\bin\dlc_solo_english\" />
	<PackFolder src="Z:\scratch\bin\dlc_pill_people\" />
	<PackFolder src="Z:\scratch\bin\windy_city\" />
	<PackFolder src="Z:\scratch\bin\windy_city_english\" />
	<PackFolder src="Z:\scratch\bin\shaders\" />
	<PackFolder src="Z:\scratch\bin\shadersobj\" />
	<PackFolder src="Z:\scratch\bin\sound\" />
	<PackFolder src="Z:\scratch\bin\sound_english\" />
	<PackFolder src="Z:\scratch\bin\common\" />

	<patchDir src="Z:\scratch\bin\patch_mod\" />
	<textDrawDistance src="5" />
	<drawBuildings src="0" />
</Settings>